/*可以在这里添加你自己的css*/
.infoBox{
    margin: 10px;
}

.infoTitle {
    font-size: 24px;
    margin-bottom: 10px
}

.infoBox .blogInfo span {
    color: #A8B1BA;
    margin-right: 8px;
}

.news_about {
    color: #888888;
    border: 1px solid #F3F3F3;
    padding: 10px;
    margin: 20px auto 15px auto;
    line-height: 23px;
    background: none repeat 0 0 #F6F6F6;
}

.news_about strong {
    color: #38485A;
    font-weight: 400 !important;
    font-size: 13px;
    padding-right: 8px;
}

.tags a {
    background: #074979;
    padding: 1px 6px;
    margin: 0 8px 0 0;
    color: #fff;
    transition: 1s;
    text-decoration:none;
}

.tags a:hover {
    background: #F4650E;
    padding: 2px 7px;
    margin: 0 7px 0 0;
    color: #FFF;
    transition: 0.5s
}

.tags {
    margin: 10px 0;
}

.infoBox .news_con {
    line-height: 1.8;
    text-align: justify;
}

.infoBox .news_con p {
    margin-bottom: 15px
}

.infoBox .news_con img {
    max-width: 650px;
    height: auto;
}

.praise {
    width: 160px;
    margin: auto;
    background: #E2523A;
    color: #fff;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, .2);
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
}

.praise a {
    color: #fff;
}