<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>关于我</title>
    <meta name="keywords" content="Mr · 王,关于我" />
    <meta name="description" content="Mr · 王" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../skin/public/images/logo.png">
    <script src="../skin/public/js/jquery.min.js" ></script>
    <link href="../skin/public/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="../skin/public/js/vue.js"></script>
</head>
<body>
    <div id="aboutMeVue">
        <header>
            <div class="logo">
                <h1><a href="/">Mr · 王</a></h1>
                <span>路漫漫其修远兮，吾将上下而求索。</span>
            </div>
            <nav>
                <h2 id="mnavh"><span class="navicon"></span></h2>
                <ul id="starlist">
                    <li><a href="/">首页</a></li>
                    <li v-for="head in headMenu">
                        <a :href="head.linkUrl">{{ head.categoryName }}</a>
                        <ul v-if="head.subNodeList != null" class="sub">
                            <li v-for="subNode in head.subNodeList"><a :href="subNode.linkUrl">{{ subNode.categoryName }}</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="blank"></div>
        <aside>
            <div class="newsbox">
                <h2 class="hometitle">推荐</h2>
                <ul class="news">
                    <li v-for="recommend in recommendList">
                        <a :href="'/knowledge/treatise-detail.html?uuid=' + recommend.uuid" :title="recommend.treatiseTitle">{{ recommend.treatiseTitle }}</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字词" type="text">
                <input id="keyboardQuery" name="Submit" class="input_submit" value="搜索" type="submit">
            </div>
            <div class="newsbox">
                <h2 class="hometitle">标签云</h2>
                <ul class="cloud">
                    <a v-for="tag in tagList" :href="'/tags/tags.html?tagName=' + tag.tagName" target="_blank" >{{ tag.tagName }}</a>
                </ul>
            </div>
            <div class="newsbox">
                <h2 class="hometitle">阅读排行</h2>
                <ul class="news">
                    <li v-for="ranking in readRanking"><a :href="'/knowledge/treatise-detail.html?uuid=' + ranking.uuid" :title="ranking.treatiseTitle">{{ ranking.treatiseTitle }}</a></li>
                </ul>
            </div>
            <div class="newsbox">
                <h2 class="hometitle">友情链接</h2>
                <ul class="links">
                    <li v-for="link in friendLinks"><a :href="link.linkUrl" :title="link.linkTitle" target="_blank">{{ link.linkTitle }}</a></li>
                </ul>
            </div>
        </aside>
        <main>
            <div class="address">您现在的位置是：<a href="/">首页</a>&nbsp;>&nbsp;<a href="#">关于我</a></div>
            <div class="infosbox">
                <h1 class="infotitle">关于我</h1>
                <div class="news_con">
                    <p>博主：{{ aboutMeInfo.myName }}</p>
                    <p>简介：{{ aboutMeInfo.aboutMe }}</p>
                    <h2>About my blog</h2>
                    <p>域 名：<a :href="aboutMeInfo.blogDomainName" target="_blank" >{{ aboutMeInfo.blogDomainName }}</a> </p>
                    <p>服务器：{{ aboutMeInfo.serverName }}<!--<a :href="aboutMeInfo.serverLink" target="_blank" style="margin-left: 15px;"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>-->
                    <p>备案号：{{ aboutMeInfo.recordNumber }}</p>
                    <p>技 术：{{ aboutMeInfo.programType }}</p>
                </div>
            </div>
        </main>
        <div class="blank"></div>
    </div>
    <footer>
        <script>$("footer").load("/common/footer.html");</script>
    </footer>
    <a id="btn_top" title="回到顶部"></a>
    <script src="../common/js/top.js"></script>
    <script>
        $(function () {
            new Vue({
                el: '#aboutMeVue',
                data: {
                    headMenu:[],
                    recommendList:[],
                    tagList:[],
                    readRanking:[],
                    friendLinks:[],
                    aboutMeInfo:{}
                    },
                methods:{
                    initInfo:function () {
                        var self = this;

                        //获取公共头菜单列表
                        $.ajax({
                            url:"/blog/blogCategory/getBlogMenuNode",
                            type:"GET",
                            success:function(data){
                                if (data.code == 200){
                                    self.headMenu = data.data.list;
                                }
                            }
                        });

                        // 推荐
                        $.ajax({
                            url:"/blog/blogTreatise/getRecommend",
                            type:"GET",
                            success:function(data){
                                if (data.code == 200){
                                    self.recommendList = data.data.list;
                                }
                            }
                        });

                        //标签云
                        $.ajax({
                            url:"/blog/blogTags/getShowTags",
                            type:"GET",
                            success:function(data){
                                if (data.code == 200){
                                    self.tagList = data.data.list;
                                }
                            }
                        });

                        //阅读排行，10条
                        $.ajax({
                            url:"/blog/blogTreatise/getReadRanking",
                            type:"GET",
                            data:{"currentPage":1,"pageSize":10},
                            success:function(data){
                                if (data.code == 200){
                                    self.readRanking = data.data.page.records;
                                }
                            }
                        });

                        // 友情链接查询
                        $.ajax({
                            url:"/blog/blogFriendlyLinks/list",
                            type:"GET",
                            data:{"currentPage":1,"pageSize":5},
                            success:function(data){
                                if (data.code == 200){
                                    self.friendLinks = data.data.page.records;
                                }
                            }
                        });
                        //查询关于我信息
                        $.ajax({
                            url:"/blog/blogAboutMe/info/1",
                            type: "GET",
                            success: function (data) {
                                if (data.code == 200) {
                                    self.aboutMeInfo = data.data.object;
                                }
                            }
                        });
                    }
                },
                created: function () {
                    this.initInfo();
                },
                mounted:function () {

                    //搜索点击事件
                    $('#keyboardQuery').click(function () {
                        var keyWord = $("#keyboard").val();
                        window.location.href="/knowledge/knowledge.html?keyWord=" + keyWord;
                    });
                }
            });

        });
    </script>
</body>
</html>
