<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>留言</title>
  <meta name="keywords" content="留言" />
  <meta name="description" content="留言" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../skin/public/images/logo.png">
  <link href="../skin/public/css/index.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../skin/public/css/pagination.css" media="screen">
  <script src="../skin/public/js/jquery.min.js" ></script>
  <script src="../skin/public/js/jquery.pagination.js"></script>
  <script src="../skin/public/js/hc-sticky.js"></script>
  <script src="../skin/public/js/comm.js"></script>
  <script src="../common/js/head-menu.js"></script>
  <script src="../common/js/aside-left.js"></script>
  <script type="text/javascript" src="../skin/public/js/vue.js"></script>
</head>
<body>
<header>
  <div class="logo">
    <h1><a href="../index.html">Mr · 王</a></h1>
    <span>花若盛开，清风自来！</span>
  </div>
  <nav>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="../index.html">首页</a></li>
    </ul>
  </nav>
</header>
<div class="blank"></div>
<aside>
  <div class="newsbox">
    <h2 class="hometitle">推荐</h2>
    <ul class="news" id="recommend">
    </ul>
  </div>
  <div class="search">
    <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字词" type="text">
    <input id="keyboardQuery" name="Submit" class="input_submit" value="搜索" type="submit">
  </div>
  <div class="newsbox">
    <h2 class="hometitle">标签云</h2>
    <ul class="cloud" id="show_tags"></ul>
  </div>
  <div class="newsbox">
    <h2 class="hometitle">阅读排行</h2>
    <ul class="news" id="read_ranking"></ul>
  </div>
  <div class="newsbox">
    <h2 class="hometitle">友情链接</h2>
    <ul class="links"></ul>
  </div>
</aside>
<main id="gbookMain">
  <div class="address">您现在的位置是：<a href="../index.html">网站首页</a>><a href="gbook.html#">留言</a></div>
  <div class="gbinfos" id="leaveMessage">
    <div v-for="message in messages">
      <div class="fb">
        <ul :style="'background: url(../skin/public/images/head/head_' + message.headImgNum + '.png) no-repeat top 2px left 5px;'">
          <p class="fbtime"><span>{{ message.createTime }}</span>{{ message.fanName }}</p>
          <pre class="fbinfo">{{ message.messageContent }}</pre>
        </ul>
      </div>
      <div class="replyDiv" v-if="message.reply != null">
        <ul>
          <p id="reply"><span style="color: #FF0000;">回复: </span>{{ message.reply }}</p>
        </ul>
      </div>
    </div>
    <div class="m-style pageList"></div>
  </div>
  <div class="gbox">
    <form @submit.prevent="checkForm" novalidate="true">
      <p> <strong>来说点儿什么吧...</strong></p>
      <p>
        <label for="fanName"> 您的姓名:</label>
        <input name="fanName" type="text" id="fanName" v-model="blogLeaveMessage.fanName"/>
        <span style="color: red;">*</span>
        <span id="fanNameError" style="color: red;visibility: hidden">此项必填！</span>
      </p>
      <p>
        <label for="contactMail">联系邮箱:</label>
        <input name="contactMail" type="text" id="contactMail" v-model="blogLeaveMessage.contactMail"/>
        <span style="color: red;">*</span>
        <span id="contactMailError" style="color: red;visibility: hidden">此项必填！</span>
        <span id="contactMailFormatError" style="color: red;visibility: hidden">邮件格式错误！</span>
      </p>
      <p>
        <label for="messageContent">留言内容:</label>
        <textarea name="messageContent" cols="60" rows="12" id="messageContent" v-model="blogLeaveMessage.messageContent"></textarea>
        <span id="messageContentError" style="color: red;visibility: hidden">此项必填！</span>
      </p>
      <p>
        <input type="submit" value="提交" />
      </p>
    </form>
  </div>
</main>
<div class="blank"></div>
<footer>
  <script>$("footer").load("/common/footer.html");</script>
</footer>
<a href="gbook.html" class="cd-top cd-is-visible cd-fade-out">Top</a>
<script>
  $(function () {
      new Vue({
          el: "#gbookMain",
          data: {messages:[], blogLeaveMessage:{}},
          methods:{
              getList:function (pageNum) {
                  var self = this;
                  $.ajax({
                      url: "/blogLeaveMessage/list",
                      type: "GET",
                      data:{"currentPage":pageNum, "pageSize":10}
                  }).then(function (value) {
                      if (value.code == 200) {
                          $('.pageList').pagination({
                              pageCount: value.data.page.pages,
                              current: value.data.page.current,
                              coping: true,
                              homePage: '首页',
                              endPage: '末页',
                              prevContent: '上页',
                              nextContent: '下页',
                              callback: function (api) {
                                  self.getList(api.getCurrent());
                              }
                          });
                          self.messages = value.data.page.records;
                      }
                  }).fail(function () {
                      console.log("获取失败");
                  });
              },
              checkForm: function() {
                  var ableSubmit = true;
                  if (!this.blogLeaveMessage.fanName) {
                      ableSubmit = false;
                      $('#fanNameError').css("visibility", "visible");
                      return;
                  } else {
                      $('#fanNameError').css("visibility", "hidden");
                  }
                  if (!this.blogLeaveMessage.contactMail) {
                      ableSubmit = false;
                      $('#contactMailError').css("visibility", "visible");
                      return;
                  } else if (!this.validEmail(this.blogLeaveMessage.contactMail)) {
                      ableSubmit = false;
                      $('#contactMailError').css("visibility", "hidden");
                      $('#contactMailFormatError').css("visibility", "visible");
                      return;
                  } else {
                      $('#contactMailFormatError').css("visibility", "hidden");
                  }
                  if (!this.blogLeaveMessage.messageContent) {
                      ableSubmit = false;
                      $('#messageContentError').css("visibility", "visible");
                      return;
                  } else {
                      $('#messageContentError').css("visibility", "hidden");
                  }
                  if (ableSubmit) {
                      this.submit();
                  }
              },
              validEmail: function (email) {
                  var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                  return re.test(email);
              },
              submit: function () {
                  var self = this;
                  $.ajax({
                      url: '/blogLeaveMessage/save',
                      data: this.blogLeaveMessage,
                      type: 'POST',
                      dataType: 'JSON',
                      success: function (data) {
                          if (data.code == 200) {
                              self.blogLeaveMessage = {};
                              list.getList(1);
                              $('html , body').animate({scrollTop: 0},'slow');
                          }
                      }
                  });
              }
          },
          created: function () {
              this.getList(1);
          }
      });
  });
</script>
</body>
</html>