<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>留言</title>
  <meta name="keywords" content="留言" />
  <meta name="description" content="留言" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../skin/public/images/logo.png">
  <link href="../skin/public/css/index.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../skin/public/css/pagination.css" media="screen">
  <script src="../skin/public/js/jquery.min.js" ></script>
  <script src="../skin/public/js/jquery.pagination.js"></script>
  <script type="text/javascript" src="../skin/public/js/vue.js"></script>
</head>
<body>
<div id="gbookVue">
  <header>
    <div class="logo">
      <h1><a href="/">Mr · 王</a></h1>
      <span>路漫漫其修远兮，吾将上下而求索。</span>
    </div>
    <nav>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="/">首页</a></li>
        <li v-for="head in headMenu">
          <a :href="head.linkUrl">{{ head.categoryName }}</a>
          <ul v-if="head.subNodeList != null" class="sub">
            <li v-for="subNode in head.subNodeList"><a :href="subNode.linkUrl">{{ subNode.categoryName }}</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="blank"></div>
  <aside>
    <div class="newsbox">
      <h2 class="hometitle">推荐</h2>
      <ul class="news">
        <li v-for="recommend in recommendList">
          <a :href="'/knowledge/treatise-detail.html?uuid=' + recommend.uuid" :title="recommend.treatiseTitle">{{ recommend.treatiseTitle }}</a>
        </li>
      </ul>
    </div>
    <div class="search">
      <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字词" type="text">
      <input id="keyboardQuery" name="Submit" class="input_submit" value="搜索" type="submit">
    </div>
    <div class="newsbox">
      <h2 class="hometitle">标签云</h2>
      <ul class="cloud">
        <a v-for="tag in tagList" :href="'/tags/tags.html?tagName=' + tag.tagName" target="_blank" >{{ tag.tagName }}</a>
      </ul>
    </div>
    <div class="newsbox">
      <h2 class="hometitle">阅读排行</h2>
      <ul class="news">
        <li v-for="ranking in readRanking"><a :href="'/knowledge/treatise-detail.html?uuid=' + ranking.uuid" :title="ranking.treatiseTitle">{{ ranking.treatiseTitle }}</a></li>
      </ul>
    </div>
    <div class="newsbox">
      <h2 class="hometitle">友情链接</h2>
      <ul class="links">
        <li v-for="link in friendLinks"><a :href="link.linkUrl" :title="link.linkTitle" target="_blank">{{ link.linkTitle }}</a></li>
      </ul>
    </div>
  </aside>
  <main>
    <div class="address">您现在的位置是：<a href="/">网站首页</a>><a href="gbook.html#">留言</a></div>
    <div class="gbinfos" id="leaveMessage">
      <div v-for="message in messages">
        <div class="fb">
          <ul :style="'background: url(../skin/public/images/head/head_' + message.headImgNum + '.png) no-repeat top 2px left 5px;'">
            <p class="fbtime"><span>{{ message.createTime }}</span>{{ message.fanName }}</p>
            <pre class="fbinfo">{{ message.messageContent }}</pre>
          </ul>
        </div>
        <div class="replyDiv" v-if="message.reply != null">
          <ul>
            <p id="reply"><span style="color: #FF0000;">回复: </span>{{ message.reply }}</p>
          </ul>
        </div>
      </div>
      <div class="m-style pageList"></div>
    </div>
    <div class="gbox">
      <form @submit.prevent="checkForm" novalidate="true">
        <p> <strong>来说点儿什么吧...</strong></p>
        <p>
          <label for="fanName"> 您的姓名:</label>
          <input name="fanName" type="text" id="fanName" v-model="blogLeaveMessage.fanName"/>
          <span style="color: red;">*</span>
          <span id="fanNameError" style="color: red;visibility: hidden">此项必填！</span>
        </p>
        <p>
          <label for="contactMail">联系邮箱:</label>
          <input name="contactMail" type="text" id="contactMail" v-model="blogLeaveMessage.contactMail"/>
          <span style="color: red;">*</span>
          <span id="contactMailError" style="color: red;visibility: hidden">此项必填！</span>
          <span id="contactMailFormatError" style="color: red;visibility: hidden">邮件格式错误！</span>
        </p>
        <p>
          <label for="messageContent">留言内容:</label>
          <textarea name="messageContent" cols="60" rows="12" id="messageContent" v-model="blogLeaveMessage.messageContent"></textarea>
          <span id="messageContentError" style="color: red;visibility: hidden">此项必填！</span>
        </p>
        <p>
          <input type="submit" value="提交" />
        </p>
      </form>
    </div>
  </main>
  <div class="blank"></div>
</div>
<footer>
  <script>$("footer").load("/common/footer.html");</script>
</footer>
<a id="btn_top" title="回到顶部"></a>
<script src="../common/js/top.js"></script>
<script>
  $(function () {
      new Vue({
          el: "#gbookVue",
          data: {
              headMenu:[],
              recommendList:[],
              tagList:[],
              readRanking:[],
              friendLinks:[],
              messages:[],
              blogLeaveMessage:{}
              },
          methods:{
              initInfo:function () {
                  var self = this;

                  //获取公共头菜单列表
                  $.ajax({
                      url:"/blogCategory/getBlogMenuNode",
                      type:"GET",
                      success:function(data){
                          if (data.code == 200){
                              self.headMenu = data.data.list;
                          }
                      }
                  });

                  // 推荐
                  $.ajax({
                      url:"/blogTreatise/getRecommend",
                      type:"GET",
                      success:function(data){
                          if (data.code == 200){
                              self.recommendList = data.data.list;
                          }
                      }
                  });

                  //标签云
                  $.ajax({
                      url:"/blogTags/getShowTags",
                      type:"GET",
                      success:function(data){
                          if (data.code == 200){
                              self.tagList = data.data.list;
                          }
                      }
                  });

                  //阅读排行，10条
                  $.ajax({
                      url:"/blogTreatise/getReadRanking",
                      type:"GET",
                      data:{"currentPage":1,"pageSize":10},
                      success:function(data){
                          if (data.code == 200){
                              self.readRanking = data.data.page.records;
                          }
                      }
                  });

                  // 友情链接查询
                  $.ajax({
                      url:"/blogFriendlyLinks/list",
                      type:"GET",
                      data:{"currentPage":1,"pageSize":5},
                      success:function(data){
                          if (data.code == 200){
                              self.friendLinks = data.data.page.records;
                          }
                      }
                  });
              },
              getList:function (pageNum) {
                  var self = this;
                  $.ajax({
                      url: "/blogLeaveMessage/list",
                      type: "GET",
                      data:{"currentPage":pageNum, "pageSize":10}
                  }).then(function (value) {
                      if (value.code == 200) {
                          $('.pageList').pagination({
                              pageCount: value.data.page.pages,
                              current: value.data.page.current,
                              coping: true,
                              homePage: '首页',
                              endPage: '末页',
                              prevContent: '上页',
                              nextContent: '下页',
                              callback: function (api) {
                                  self.getList(api.getCurrent());
                                  $('html , body').animate({scrollTop: 0},'slow');
                              }
                          });
                          self.messages = value.data.page.records;
                      }
                  }).fail(function () {
                      console.log("获取失败");
                  });
              },
              checkForm: function() {
                  var ableSubmit = true;
                  if (!this.blogLeaveMessage.fanName) {
                      ableSubmit = false;
                      $('#fanNameError').css("visibility", "visible");
                      return;
                  } else {
                      $('#fanNameError').css("visibility", "hidden");
                  }
                  if (!this.blogLeaveMessage.contactMail) {
                      ableSubmit = false;
                      $('#contactMailError').css("visibility", "visible");
                      return;
                  } else if (!this.validEmail(this.blogLeaveMessage.contactMail)) {
                      ableSubmit = false;
                      $('#contactMailError').css("visibility", "hidden");
                      $('#contactMailFormatError').css("visibility", "visible");
                      return;
                  } else {
                      $('#contactMailFormatError').css("visibility", "hidden");
                  }
                  if (!this.blogLeaveMessage.messageContent) {
                      ableSubmit = false;
                      $('#messageContentError').css("visibility", "visible");
                      return;
                  } else {
                      $('#messageContentError').css("visibility", "hidden");
                  }
                  if (ableSubmit) {
                      this.submit();
                  }
              },
              validEmail: function (email) {
                  var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                  return re.test(email);
              },
              submit: function () {
                  var self = this;
                  $.ajax({
                      url: '/blogLeaveMessage/save',
                      data: this.blogLeaveMessage,
                      type: 'POST',
                      dataType: 'JSON',
                      success: function (data) {
                          if (data.code == 200) {
                              self.blogLeaveMessage = {};
                              self.getList(1);
                              $('html , body').animate({scrollTop: 0},'slow');
                          }
                      }
                  });
              }
          },
          created: function () {
              this.initInfo();
              this.getList(1);
          },
          mounted:function () {

              //搜索点击事件
              $('#keyboardQuery').click(function () {
                  var keyWord = $("#keyboard").val();
                  window.location.href="/knowledge/knowledge.html?keyWord=" + keyWord;
              });
          }
      });
  });
</script>
</body>
</html>