<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../skin/public/images/logo.png">
    <link rel="stylesheet" href="../skin/ueditor/themes/default/css/ueditor.min.css">
    <link rel="stylesheet" href="../skin/ueditor/SyntaxHighlighter/shCoreDefault.css">
    <link href="../skin/public/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="../skin/ueditor/themes/iframe.css">
    <script src="../skin/public/js/jquery.min.js" ></script>
    <script src="../skin/public/js/hc-sticky.js"></script>
    <script src="../skin/public/js/comm.js"></script>
    <script src="../common/public/head-menu.js"></script>
    <script src="../common/public/aside-left.js"></script>
    <script type="text/javascript" src="../skin/public/js/ajax.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <h1><a href="../index.html">Mr · 王</a></h1>
        <span>花若盛开，清风自来。</span>
    </div>
    <nav>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="../index.html">首页</a></li>
        </ul>
    </nav>
</header>
<div class="blank"></div>
<aside>
    <div class="newsbox">
        <h2 class="hometitle">推荐</h2>
        <ul class="news" id="recommend">
        </ul>
    </div>
    <div class="search">
        <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字词" type="text">
        <input id="keyboardQuery" name="Submit" class="input_submit" value="搜索" type="submit">
    </div>
    <div class="newsbox">
        <h2 class="hometitle">标签云</h2>
        <ul class="cloud" id="show_tags"></ul>
    </div>
    <div class="newsbox">
        <h2 class="hometitle">阅读排行</h2>
        <ul class="news" id="read_ranking"></ul>
    </div>
    <div class="newsbox">
        <h2 class="hometitle">友情链接</h2>
        <ul class="links"></ul>
    </div>
</aside>
<main id="treatiseDetail" >
    <div class="address">您现在的位置是：
        <a href="../index.html">首页</a>
        &nbsp;>&nbsp;
        <a href="#">浏览详情</a>
    </div>
    <div class="infoBox">
        <h1 class="infoTitle">{{ treatiseInfo.treatiseTitle }}</h1>
        <p class="blogInfo">
            <span>{{ treatiseInfo.sourceName }}</span>
            <span>{{ treatiseInfo.createTime }}</span>
            <span>{{ treatiseInfo.categoryName }}</span>
            <span>阅读(<b>{{ treatiseInfo.readNum }}</b>)</span>
        </p>
        <div class="tags" id="the_tags" v-if="treatiseInfo.tags != null">
            <!--<a href="#" target="_blank" v-for="tag in treatiseInfo.tagsList">{{ tag }}</a>-->
            <a href="#2" v-for="tag in treatiseInfo.tagsList">{{ tag }}</a>
        </div>
        <div class="news_about">
            <strong>简介</strong>
            {{ treatiseInfo.treatisePreview }}
        </div>
        <div class="treatise_body" v-html="treatiseInfo.treatiseBody"></div>
        <p v-if="treatiseInfo.source == 2">
            转载自：
            <a target="_blank" :href="treatiseInfo.reprintUrl">{{ treatiseInfo.reprintUrl }}</a>
        </p>
        <div class="share">
            <p class="praise">
                <a href="#2" @click="addPraiseNum"> 很赞哦！</a>
                (<b>{{ treatiseInfo.praiseNum }}</b>)
            </p>
        </div>
        <div class="nextinfo">
            <p v-if="treatiseInfo.upBlogTreatise != null">上一篇：<a :href="'treatise-detail.html?uuid=' + treatiseInfo.upBlogTreatise.uuid">{{ treatiseInfo.upBlogTreatise.treatiseTitle }}</a></p>
            <p v-if="treatiseInfo.upBlogTreatise == null">上一篇：<a :href="'knowledge.html?categoryId=' + treatiseInfo.fId + '&thisCategory=' + treatiseInfo.categoryId">返回列表</a></p>

            <p v-if="treatiseInfo.downBlogTreatise != null">下一篇：<a :href="'treatise-detail.html?uuid=' + treatiseInfo.downBlogTreatise.uuid">{{ treatiseInfo.downBlogTreatise.treatiseTitle }}</a></p>
            <p v-if="treatiseInfo.downBlogTreatise == null">下一篇：<a :href="'knowledge.html?categoryId=' + treatiseInfo.fId + '&thisCategory=' + treatiseInfo.categoryId">返回列表</a></p>
        </div>
<!--        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
                <li><a href="../life/we/2018-08-08/23.html" title="">一个JAVA程序员成长之路分享 [转载]</a></li>
                <li><a href="../2018-07-22/19.html" title="JaveWeb学习之Servlet">JaveWeb学习之Servlet（一）</a></li>
                <li><a href="../2018-06-29/18.html" title="Cglib动态代理浅析">Cglib动态代理浅析</a></li>
                <li><a href="../2018-06-29/17.html" title="JDK动态代理浅析">JDK动态代理浅析</a></li>
                <li><a href="../2018-06-29/16.html" title="浅析Java中的final关键字">浅析Java中的final关键字</a></li>
                <li><a href="../2018-06-29/15.html" title="Jackson注解学习参考">Jackson注解学习参考</a></li>
                <li><a href="../2018-06-29/8.html" title="Maven项目中添加本地jar包">Maven项目中添加本地jar包</a></li>
            </ul>
        </div>-->
        <div class="news_pl">
            <h2>文章评论</h2>
            <div class="gbko">
                <form action="" method="post" name="saypl" onsubmit="">
                <div id="plpost">
                    <p class="saying"><span><a href="#2">共有0条评论</a></span>暂无评论功能...</p>
                    <!--<p class="yname"><span>用户名:</span><input name="username" type="text" class="inputText" id="username" value="" size="16" /></p>
                    <p class="yzm"><span>验证码:</span><input name="key" type="text" class="inputText" size="16" />
                        <img src="../skin/public/images/ShowKey.jpg" align="absmiddle" name="plKeyImg" id="plKeyImg" onclick="plKeyImg.src='/e/ShowKey/?v=pl&t='+Math.random()" title="看不清楚,点击刷新" /> </p>
                    <input name="nomember"  type="hidden" id="nomember" value="1" checked="checked" />
                    <textarea name="saytext" rows="6" id="saytext"></textarea><input name="imageField" type="submit" value="提交"/>
                    <input name="id" type="hidden" id="id" value="24" />
                    <input name="classid" type="hidden" id="classid" value="7" />
                    <input name="enews" type="hidden" id="enews" value="AddPl" />
                    <input name="repid" type="hidden" id="repid" value="0" />
                    <input type="hidden" name="ecmsfrom" value="/se/java/2018-08-11/24.html"></td>-->
                </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="blank"></div>
<footer>
    <p>Design by <a href="../index.html">Mr · 王</a></p>
</footer>
<a href="treatise-detail.html#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<link href="../skin/highlight/styles/monokai-sublime.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="../skin/ueditor/SyntaxHighlighter/shCore.js"></script>
<script>SyntaxHighlighter.all();</script>
<script src="../skin/public/js/utils.js"></script>
<script src="../skin/public/js/vue.js"></script>
<script src="treatise-detail.js"></script>
</body>
</html>