<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>文章管理-新增</title>
    <link rel="stylesheet" href="../../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../../frame/static/css/style.css">
    <link rel="icon" href="../../../frame/static/image/code.png">
    <script type="text/javascript" charset="utf-8" src="../../../frame/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../../frame/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="../../../frame/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body class="body">

<div id="treatiseAddForm">
    <form class="layui-form layui-form-pane" action="">
        <input :value="treatiseInfo.uuid" type="text" name="uuid" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-block">
                <input :value="treatiseInfo.treatiseTitle" type="text" name="treatiseTitle" lay-verify="treatiseTitle" autocomplete="off" placeholder="请输入文章标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属类型</label>
            <div class="layui-input-inline">
                <select name="categoryIdBig" placeholder="请选择" lay-filter="onSelectedCategory">
                    <option v-for="fCategory in fCategoryList" :value="fCategory.id">{{ fCategory.categoryName }}</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="categoryId" placeholder="请选择小类" lay-filter="categorySelected">
                    <option v-for="category in categoryList" :value="category.id">{{ category.categoryName }}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">预览内容</label>
            <div class="layui-input-block">
                <input :value="treatiseInfo.treatisePreview" type="text" name="treatisePreview" lay-verify="required" autocomplete="off" placeholder="请输入预览内容" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">文章来源</label>
                <div class="layui-input-inline">
                    <select name="source" placeholder="请选择来源">
                        <option value="1">原创</option>
                        <option value="2">转载</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">来源地</label>
                <div class="layui-input-inline">
                    <input :value="treatiseInfo.reprintFrom" type="text" name="reprintFrom" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">来源url</label>
                <div class="layui-input-inline" style="width: 500px;">
                    <input :value="treatiseInfo.reprintUrl" type="text" name="reprintUrl" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">标签选择</label>
            <div class="layui-input-block">
                <input v-for="tag in tagsList" type="checkbox" name="tags" :value="tag.tagName" :title="tag.tagName">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否推荐</label>
            <div class="layui-input-block">
                <input type="checkbox" name="recommend" lay-skin="switch" lay-text="是|否" checked>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">正文部分</label>
            <div class="layui-input-block">
                <textarea :value="treatiseInfo.treatiseBody" name="treatiseBody" id="editor" style="width:100%;height:600px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-top: 20px; text-align: center;">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="infoSubmit">立即提交</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="../../../frame/layui/layui.js"></script>
<script type="text/javascript" src="../../../js/common/jquery.min.js"></script>
<script type="text/javascript" src="../../../js/common/utils.js"></script>
<script type="text/javascript" src="../../../js/common/vue.js"></script>

<script type="text/javascript">
    //页面初始化一些数据（vue）
    var addFormVue = new Vue({
        el: "#treatiseAddForm",
        data:{fCategoryList:[],categoryList:[],treatiseInfo:{},tagsList:[]},
        methods:{
            editInfo:function (treatiseUuid) {
                var self = this;
                $.ajax({
                    url: "/blogTreatise/info/" + treatiseUuid,
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        self.treatiseInfo = value.data.object;
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            },
            initInfo:function () {
                var self = this;
                //渲染种类下拉列表
                $.ajax({
                    url: "/blogCategory/getCategoryList",
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        self.fCategoryList = value.data.list;
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
                //渲染标签多选
                self.loadTagList();
            },
            loadCategory:function (categoryId) {
                var self = this;
                $.ajax({
                    url: "/blogCategory/getCategoryList",
                    type: "GET",
                    data: {"categoryId":categoryId}
                }).then(function (value) {
                    if (value.code == 200) {
                        self.$set(self, "categoryList" , value.data.list);
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            },
            loadTagList: function (categoryId) {
                var self = this;
                $.ajax({
                    url: "/blogTags/getList",
                    type: "GET",
                    data: {"categoryId":categoryId}
                }).then(function (value) {
                    if (value.code == 200) {
                        self.$set(self, "tagsList" , value.data.list);
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            }
        },
        created: function () {
            //初始化数据
            this.initInfo();
            //获取参数
            var params = getRequestParams(window.location.search);
            var treatiseUuid = params.treatiseUuid;
            //如果传有主键uuid，则是编辑，加载编辑数据
            if (treatiseUuid){
                this.editInfo(treatiseUuid);
            }
        },
        mounted(){
            var vueThis = this;
            // layui方法
            layui.use(['form', 'layedit', 'laydate'], function () {
                // 操作对象
                var form = layui.form;

                //实例化编辑器
                //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                var ue = UE.getEditor('editor');

                /**
                 * 监听所属分类列表
                 */
                form.on('select(onSelectedCategory)', function(data){
                    var categoryId = data.value;
                    if (categoryId){
                        vueThis.loadCategory(categoryId);
                        vueThis.loadTagList(categoryId);
                        form.render('select');
                    }
                });

                /**
                 * 监听所属分类小类列表
                 */
                // form.on('select(categorySelected)', function(data){
                //     var categoryId = data.value;
                //     if (categoryId){
                //         vueThis.loadTagList(categoryId);
                //         form.render('select');
                //     }
                // });

                //自定义验证规则
                form.verify({
                    treatiseTitle: function(value){
                        if (!value){
                            return '标题必填';
                        }
                        if(value.length > 200){
                            return '标题不能长于200个字';
                        }
                    }
                });

                //监听提交
                form.on('submit(infoSubmit)', function(data){
                    //处理是否推荐数据
                    data.field.recommend = data.field.recommend == 'on' ? 1 : 0;
                    //获取标签多选数据
                    var tagsArr = [];
                    $("input:checkbox[name='tags']:checked").each(function() { // 遍历name=tags的多选框
                        tagsArr.push($(this).val());
                    });
                    data.field.tags = tagsArr.join(",");

                    $.ajax({
                        url: "/blogTreatise/insertOrUpdate",
                        type: "POST",
                        data: data.field
                    }).then(function (result) {
                        if (result.code == 200) {
                            layer.alert('保存成功！', {
                                title: '提交信息',
                                yes:function (index,layero) {
                                    //点击确认刷新
                                    location = location;
                                }
                            });
                        }
                    }).fail(function () {
                        layer.alert('保存失败！', {
                            title: '提交信息'
                        });
                        console.log("保存失败");
                    });
                    return false;
                });
            });
        }
    });
</script>
</body>
</html>