<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="../../../frame/static/image/code.png">
    <title>文章管理-详情</title>
    <script type="text/javascript" src="../../../js/common/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../../js/common/vue.js"></script>
    <link rel="stylesheet" href="../../../frame/myStyle.css">
</head>
<body>
<main>
    <div id="treatiseDetail" class="infoBox">
        <h1 class="infoTitle">{{ treatiseInfo.treatiseTitle }}</h1>
        <p class="blogInfo">
            <span id="sourceName">{{ treatiseInfo.sourceName }}</span>
            <span id="createTime">{{ treatiseInfo.createTime }}</span>
            <span id="categoryName">{{ treatiseInfo.categoryName }}</span>
        </p>
        <div class="tags" id="the_tags" v-if="treatiseInfo.tags != null">
            <a href="#2" v-for="tag in treatiseInfo.tagsList">{{ tag }}</a>
        </div>
        <div class="news_about" id="treatisePreview">
            <strong>简介</strong>
            {{ treatiseInfo.treatisePreview }}
        </div>
        <div class="treatise_body" v-html="treatiseInfo.treatiseBody"></div>
    </div>
</main>
<div class="blank"></div>
<script type="text/javascript">
    new Vue({
        el: "#treatiseDetail",
        data:{treatiseInfo:{}},
        methods:{
            initInfo:function (treatiseUuid) {
                var self = this;
                $.ajax({
                    url:"/blogTreatise/info/" + treatiseUuid,
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        var tags = value.data.object.tags;
                        if (tags){
                            value.data.object.tagsList = tags.split(",");
                        }
                        self.treatiseInfo = value.data.object;
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            },
            initDatePicker:function () {
                SyntaxHighlighter.all();
            }
        },
        watch:{
            treatiseInfo:function(){
                //延迟加载，使代码部分高亮显示
                this.$nextTick(function () {
                    this.initDatePicker()
                });
            }
        },
        created: function () {
            //获取参数
            var params = getRequestParams(window.location.search);
            var uuid = params.uuid;
            //如果传有主键uuid，则加载详情数据
            if (uuid){
                this.initInfo(uuid);
            }
        }
    });
</script>
</body>
</html>