<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="../../../frame/static/image/code.png">
    <title>资源分享管理-详情</title>
    <script type="text/javascript" src="../../../js/common/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../../js/common/vue.js"></script>
    <link rel="stylesheet" href="../../../frame/myStyle.css">
</head>
<body>
<main>
    <div id="resourceDetail" class="infoBox">
        <h1 class="infoTitle">{{ resourceInfo.resourceName }}</h1>
        <p class="blogInfo">
            <span id="sourceName">{{ resourceInfo.statusName }}</span>
            <span id="createTime">{{ resourceInfo.lastUpdateTime }}</span>
            <span id="categoryName">{{ resourceInfo.categoryName }}</span>
        </p>
        <div class="tags" v-if="resourceInfo.tags != null">
            <a href="#2" v-for="tag in resourceInfo.tagsList">{{ tag }}</a>
        </div>
        <div class="news_about" id="resourcePreview">
            <strong>资源描述</strong>
            {{ resourceInfo.resourceDesc }}
        </div>
        <hr>
        <div class="treatise_body">
            <h1 class="infoTitle">{{ resourceInfo.fileName }}</h1>
            <p class="blogInfo">
                <span>{{ resourceInfo.fileType }}</span>
                <span>{{ resourceInfo.fileSize }}</span>
                <span>{{ resourceInfo.fileCreateTime }}</span>
            </p>
        </div>
    </div>
</main>
<div class="blank"></div>
<script type="text/javascript">
    new Vue({
        el: "#resourceDetail",
        data:{resourceInfo:{}},
        methods:{
            initInfo:function (resourceId) {
                var self = this;
                $.ajax({
                    url:"/blogResourceInfo/info/" + resourceId,
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        var tags = value.data.object.tags;
                        if (tags){
                            value.data.object.tagsList = tags.split(",");
                        }
                        self.resourceInfo = value.data.object;
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            }
        },
        watch:{

        },
        created: function () {
            //获取参数
            var params = getRequestParams(window.location.search);
            var id = params.id;
            //如果传有主键id，则加载详情数据
            if (id){
                this.initInfo(id);
            }
        }
    });
</script>
</body>
</html>