<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>资源分享管理-新增</title>
    <link rel="stylesheet" href="../../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../../frame/static/css/style.css">
    <link rel="icon" href="../../../frame/static/image/code.png">
    <script type="text/javascript" src="../../../frame/layui/layui.js"></script>
    <script type="text/javascript" src="../../../js/common/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../../js/common/vue.js"></script>
</head>
<body class="body">

<div id="resourceAddForm">
    <form class="layui-form layui-form-pane" action="">
        <input :value="resourceInfo.id" type="text" name="id" hidden>

        <input :value="resourceInfo.fileId" type="text" name="fileId" hidden>

        <div class="layui-form-item">
            <label class="layui-form-label">文件上传</label>
            <div class="layui-upload-drag" id="uploadFile">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资源名称</label>
            <div class="layui-input-block">
                <input :value="resourceInfo.resourceName" type="text" name="resourceName" lay-verify="resourceName" autocomplete="off" placeholder="请输入资源名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资源类型</label>
            <div class="layui-input-inline">
                <select name="categoryId" placeholder="请选择" lay-filter="onSelectedCategory">
                    <option v-for="category in categoryList" :value="category.id" :selected="category.selected">{{ category.categoryName }}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资源标签</label>
            <div class="layui-input-block">
                <input v-for="tag in tagsList" type="checkbox" name="tags" :value="tag.tagName" :title="tag.tagName" :checked="tag.checked" >
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">资源分数</label>
                <div class="layui-input-inline">
                    <select name="resourceLevel">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">分享状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" lay-skin="switch" lay-text="是|否" checked>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">资源描述</label>
            <div class="layui-input-block">
                <textarea :value="resourceInfo.resourceDesc" name="resourceDesc" lay-verify="required" autocomplete="off" placeholder="请输入资源描述" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-top: 20px; text-align: center;">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="infoSubmit">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //页面初始化一些数据（vue）
    var addFormVue = new Vue({
        el: "#resourceAddForm",
        data:{categoryList:[], tagsList:[], resourceInfo:{}},
        methods:{
            editInfo:function (resourceId) {
                var self = this;
                $.ajax({
                    url: "/blogResourceInfo/info/" + resourceId,
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        self.resourceInfo = value.data.object;
                        var categoryId = value.data.object.categoryId;
                        self.loadCategory(categoryId);
                        var tags = value.data.object.tags;
                        self.loadTagList(tags);
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            },
            loadCategory:function (categoryId) {
                var self = this;
                $.ajax({
                    url: "/blogCategory/getCategoryList",
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        if (categoryId){
                            value.data.list.forEach(function(key){
                                if (key.id == categoryId){
                                    key.selected = true;
                                }
                            })
                        }
                        self.categoryList = value.data.list;
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            },
            loadTagList: function (tags) {
                var self = this;
                $.ajax({
                    url: "/blogTags/getList",
                    type: "GET"
                }).then(function (value) {
                    if (value.code == 200) {
                        if (tags){
                            value.data.list.forEach(function(key){
                                if (tags.search(key.tagName) != -1) {
                                    key.checked = true;
                                }
                            });
                        }
                        self.$set(self, "tagsList" , value.data.list);
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            }
        },
        created: function () {
            //获取参数
            var params = getRequestParams(window.location.search);
            var resourceId = params.resourceId;
            //如果传有主键resourceId，则是编辑，加载编辑数据
            if (resourceId){
                this.editInfo(resourceId);
            }else {
                //初始化数据,加载分类
                this.loadCategory();
                //加载标签多选数据
                this.loadTagList();
            }
        },
        mounted(){
            var vueThis = this;
            // layui方法
            layui.use(['form', 'layedit', 'laydate','upload'], function () {
                // 操作对象
                var form = layui.form,
                upload = layui.upload;

                //文件上传
                upload.render({
                    elem: '#uploadFile'
                    ,accept:'file'
                    ,url: '/blogFile/uploadFile'
                    ,done: function(res){
                        $('input[name="fileId"]').val(res.data.object);
                        console.log(res)
                        console.log(res.data.object)
                    }
                });

                //自定义验证规则
                form.verify({
                    resourceName: function(value){
                        if (!value){
                            return '资源名称必填';
                        }
                        if(value.length > 20){
                            return '不能长于20个字';
                        }
                    }
                });

                //监听提交
                form.on('submit(infoSubmit)', function(data){
                    //处理是否推荐数据
                    data.field.status = data.field.status == 'on' ? 1 : 0;
                    //获取标签多选数据
                    var tagsArr = [];
                    $("input:checkbox[name='tags']:checked").each(function() { // 遍历name=tags的多选框
                        tagsArr.push($(this).val());
                    });
                    data.field.tags = tagsArr.join(",");
                    $.ajax({
                        url: "/blogResourceInfo/insertOrUpdate",
                        type: "POST",
                        data: data.field
                    }).then(function (result) {
                        if (result.code == 200) {
                            layer.alert('保存成功！', {
                                title: '提交信息',
                                yes:function (index,layero) {
                                    //点击确认刷新
                                    location = location;
                                }
                            });
                        }
                    }).fail(function () {
                        layer.alert('保存失败！', {
                            title: '提交信息'
                        });
                        console.log("保存失败");
                    });
                    return false;
                });
            });
        }
    });
</script>
</body>
</html>