<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>学无止境</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../skin/public/images/logo.png">
    <script src="../skin/public/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../skin/public/css/pagination.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../skin/public/css/index.css" >
    <script src="../skin/public/js/utils.js"></script>
    <script src="../skin/public/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="../skin/public/js/vue.js"></script>
</head>
<body>
<div id="tagsVue">
    <header>
        <div class="logo">
            <h1><a href="/">Mr · 王</a></h1>
            <span>路漫漫其修远兮，吾将上下而求索。</span>
        </div>
        <nav>
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <ul id="starlist">
                <li><a href="/">首页</a></li>
                <li v-for="head in headMenu">
                    <a :href="head.linkUrl">{{ head.categoryName }}</a>
                    <ul v-if="head.subNodeList != null" class="sub">
                        <li v-for="subNode in head.subNodeList"><a :href="subNode.linkUrl">{{ subNode.categoryName }}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="blank"></div>
    <aside>
        <div class="newsbox">
            <h2 class="hometitle">推荐</h2>
            <ul class="news">
                <li v-for="recommend in recommendList">
                    <a :href="'/knowledge/treatise-detail.html?uuid=' + recommend.uuid" :title="recommend.treatiseTitle">{{ recommend.treatiseTitle }}</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字词" type="text">
            <input id="keyboardQuery" name="Submit" class="input_submit" value="搜索" type="submit">
        </div>
        <div class="newsbox">
            <h2 class="hometitle">标签云</h2>
            <ul class="cloud">
                <a v-for="tag in tagList" :href="'/tags/tags.html?tagName=' + tag.tagName" target="_blank" >{{ tag.tagName }}</a>
            </ul>
        </div>
        <div class="newsbox">
            <h2 class="hometitle">阅读排行</h2>
            <ul class="news">
                <li v-for="ranking in readRanking"><a :href="'/knowledge/treatise-detail.html?uuid=' + ranking.uuid" :title="ranking.treatiseTitle">{{ ranking.treatiseTitle }}</a></li>
            </ul>
        </div>
        <div class="newsbox">
            <h2 class="hometitle">友情链接</h2>
            <ul class="links">
                <li v-for="link in friendLinks"><a :href="link.linkUrl" :title="link.linkTitle" target="_blank">{{ link.linkTitle }}</a></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="address">
            您现在的位置是：<a href='/'>首页</a>&nbsp;>&nbsp;标签信息列表&nbsp;>&nbsp;
        </div>
        <div class="bloglist">
            <ul>
                <li v-for="treatise in treatiseList">
                    <h2><a :href="'/knowledge/treatise-detail.html?uuid=' + treatise.uuid">{{ treatise.treatiseTitle }}</a></h2>
                    <p class="blogtext">{{ treatise.treatisePreview }}</p>
                    <p class="bloginfo"><span>{{ treatise.sourceName }}</span><span>{{ treatise.createTime }}</span><span>[<a href="#2">{{ treatise.categoryName }}</a>]</span><span>阅读({{ treatise.readNum }})</span></p>
                </li>
            </ul>
        </div>
        <div class="m-style pageList"></div>
    </main>
    <div class="blank"></div>
</div>
<footer>
    <script>$("footer").load("/common/footer.html");</script>
</footer>
<a id="btn_top" title="回到顶部"></a>
<script src="../common/js/top.js"></script>
<script type="application/javascript">
    new Vue({
        el: "#tagsVue",
        data: {
            headMenu:[],
            recommendList:[],
            tagList:[],
            readRanking:[],
            friendLinks:[],
            treatiseList:[]
        },
        methods:{
            initInfo:function () {
                var self = this;

                //获取公共头菜单列表
                $.ajax({
                    url:"/blog/blogCategory/getBlogMenuNode",
                    type:"GET",
                    success:function(data){
                        if (data.code == 200){
                            self.headMenu = data.data.list;
                        }
                    }
                });

                // 推荐
                $.ajax({
                    url:"/blog/blogTreatise/getRecommend",
                    type:"GET",
                    success:function(data){
                        if (data.code == 200){
                            self.recommendList = data.data.list;
                        }
                    }
                });

                //标签云
                $.ajax({
                    url:"/blog/blogTags/getShowTags",
                    type:"GET",
                    success:function(data){
                        if (data.code == 200){
                            self.tagList = data.data.list;
                        }
                    }
                });

                //阅读排行，10条
                $.ajax({
                    url:"/blog/blogTreatise/getReadRanking",
                    type:"GET",
                    data:{"currentPage":1,"pageSize":10},
                    success:function(data){
                        if (data.code == 200){
                            self.readRanking = data.data.page.records;
                        }
                    }
                });

                // 友情链接查询
                $.ajax({
                    url:"/blog/blogFriendlyLinks/list",
                    type:"GET",
                    data:{"currentPage":1,"pageSize":5},
                    success:function(data){
                        if (data.code == 200){
                            self.friendLinks = data.data.page.records;
                        }
                    }
                });
            },
            getList:function (pageNum,tagName,keyWord) {
                var self = this;
                $.ajax({
                    url:"/blog/blogTreatise/list",
                    type: "GET",
                    data: {"currentPage": pageNum, "pageSize": 10, "tagInfo": tagName, "keyWord":keyWord}
                }).then(function (value) {
                    if (value.code == 200) {
                        $('.pageList').pagination({
                            pageCount: value.data.page.pages,
                            current: value.data.page.current,
                            coping: true,
                            homePage: '首页',
                            endPage: '末页',
                            prevContent: '上页',
                            nextContent: '下页',
                            callback: function (api) {
                                self.getList(api.getCurrent(),tagName,keyWord);
                            }
                        });
                        self.treatiseList = value.data.page.records;
                    }
                }).fail(function () {
                    console.log("获取失败");
                });
            }
        },
        created: function () {
            //初始数据加载
            this.initInfo();
        },
        mounted:function () {
            var vueThis = this;
            //获取参数
            var params = getRequestParams(window.location.search);
            var tagName = params.tagName;
            vueThis.getList(1, tagName);
            //搜索点击事件
            $('#keyboardQuery').click(function () {
                var keyWord = $("#keyboard").val();
                vueThis.getList(1, tagName ,keyWord);
                $('html,body').animate({ scrollTop: 0 }, 500);
            });
        }
    });
</script>
</body>
</html>