<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.manage.modules.admin.mapper.BlogAdminMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.blog.pojo.entity.BlogAdmin">
		<id column="id" property="id" />
		<result column="show_name" property="showName" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="status" property="status" />
		<result column="login_time" property="loginTime" />
		<result column="login_ip" property="loginIp" />
	</resultMap>

</mapper>