@charset "gb2312";
/* css */
* {
    margin: 0;
    padding: 0
}

body {
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    background: #F1F1F1;
    line-height: 1.5;
}

img {
    border: 0;
    display: block
}

/* ul, li { list-style: none; } */
.news_con li, .news_con ol {
    margin: 1em;
}

.news_con pre {
    margin-bottom: 20px;
}

.news_con code {
    font-family: Consolas;
    font-size: 14px;
}

.news_con h1, .news_con h2, .news_con h3, .news_con h4, .news_con h5, .news_con h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news_con h2 {
    border-bottom: 1px solid;
}

.news_con blockquote {
    border-left: .5em solid #eee;
    padding: 0 2em;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #000
}

a:hover {
    text-decoration: none;
    color: #F4650E;
    transition: 0s;
}

.clear {
    clear: both;
}

.blank {
    height: 16px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}

/*header*/
header {
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.logo {
    overflow: hidden;
    clear: both;
    height: 50px;
    line-height: 50px;
    background-image: url('../images/headerbgm.gif');
}

.logo h1 {
    font-size: 26px;
    float: left;
    margin-left: 15px;
}

.logo span {
    float: left;
    margin-left: 20px
}

nav {
    background: #074979;
    width: 100%;
    height: 50px;
    line-height: 50px;
    clear: both;
}

#mnavh {
    display: none;
    width: 30px;
    height: 40px;
    text-align: center;
    padding: 0 5px
}

#starlist {
    margin-left: 10px
}

#starlist li {
    float: left;
    text-align: center;
    display: block;
    font-size: 18px;
    width: 110px;
    text-align: center
}

.navicon {
    display: block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #333;
    margin-top: 15px
}

.navicon:before, .navicon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #333;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.navicon:before {
    margin-top: -10px;
}

.navicon:after {
    margin-top: 10px;
}

.open .navicon {
    background: none
}

.open .navicon:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .navicon:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .navicon:before, .open .navicon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #333;
}

#starlist li a {
    color: #dedede;
    display: block
}

#starlist li a:hover, #starlist #selected, #starlist .selected > a {
    color: #a5d1f1;
}

.sub {
    display: none;
    background: #074979;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .04);
    width: 110px;
    z-index: 9;
}

#starlist li:hover ul {
    display: block;
    position: absolute;
}

#starlist .sub li {
    line-height: 36px;
    font-size: 16px
}

/*aside*/
aside {
    width: 250px;
    float: left;
    margin: 0 0 0 16px
}

.newsbox {
    border: #ddd 1px solid;
    background: #fff;
    margin-bottom: 15px;
    overflow: hidden
}

.hometitle {
    background: #f8f8f8;
    font-size: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    height: 38px;
    line-height: 38px;
}

.news {
    padding: 10px
}

.news li, .links li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px
}

.news li:before {
    content: "";
    width: 3px;
    height: 3px;
    background: #ccc;
    position: absolute;
    top: 10px;
    left: 0;
}

.news li a {
    color: #444;
}

.news li a:hover {
    color: #F4650E;
}

.cloud {
    padding: 10px;
    overflow: hidden
}

.cloud a {
    line-height: 24px;
    height: 24px;
    display: block;
    float: left;
    padding: 3px 8px;
    color: #333;
}

.cloud a:hover {
    color: #F4650E;
}

.links {
    padding: 10px
}

.search {
    border: 1px solid #ddd;
    background: #f8f8f8;
    position: relative;
    margin-bottom: 15px;
}

.search input.input_submit {
    border: 0;
    background: 0;
    color: #555;
    outline: none;
    position: absolute;
    top: 10px;
    right: 8%;
    font-weight: bold;
    cursor:pointer;
}

.search input.input_text {
    border: 0;
    line-height: 36px;
    height: 36px;
    width: 72%;
    padding-left: 10px;
    outline: none;
    border-right: #ddd 1px solid;
}

aside div:last-child {
    margin-bottom: 0
}

/*main*/
main {
    margin-left: 282px;
    margin-right: 16px;
}

.bloglist {
    width: 100%;
    overflow: hidden;
}

.bloglist li {
    background: #FFF;
    overflow: hidden;
    padding: 16px;
    border: #ddd 1px solid;
    margin-bottom: 16px;
    position: relative
}

.bloglist li h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.bloglist li h2 span {
    background: #074979;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    width: 40px;
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
}

.bloglist .blogtext {
    margin-bottom: 10px
}

.bloglist .bloginfo {
    text-align: right;
    color: #A8B1BA;
}

.bloglist .bloginfo span {
    margin: 0 0 0 8px
}

.bloglist li:last-child {
    margin-bottom: 0
}

/*footer*/
footer {
    width: 100%;
    background: #074979;
    color: #a5d1f1;
    text-align: center;
    padding: 8px 0;
    clear: both;
}

footer a {
    color: #a5d1f1;
}

footer a:hover {
    color: #fff
}

#btn_top {
    height: 30px;
    width: 35px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    background: rgba(0,0,0,0.1) url(../images/go-top.png) no-repeat center;
    background-size: contain;
}

#btn_top:hover{
    cursor: pointer;
}

/*list*/
.place {
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    border: #ddd 1px solid;
    padding: 5px 10px
}

.place h1 {
    font-size: 16px;
    font-weight: normal;
}

.place h1 a {
    display: block;
    float: left;
    width: 80px;
    text-align: center;
    margin-right: 20px
}

.place h1 a:hover {
    position: relative
}

.place h1 a:hover:after {
    position: absolute;
    width: 80px;
    height: 3px;
    background: #4c9dd8;
    content: "";
    bottom: -5px;
    left: 0
}

#categoryList a{
    cursor:pointer;
}

#thisCategory {
    color: #222;
    position: relative
}

#thisCategory:after {
    position: absolute;
    width: 80px;
    height: 3px;
    background: #4c9dd8;
    content: "";
    bottom: -5px;
    left: 0
}

.place span {
    float: right;
    font-size: 14px;
}

.place span a {
    padding: 0 5px
}

.pagelist {
    text-align: left;
    color: #666;
    width: 100%;
    margin-top: 15px
}

.pagelist a {
    color: #666;
    margin: 5px 2px 0 2px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    background: #FFF;
    display: inline-block;
}

.pagelist a:hover {
    color: #F4650E;
}

.pagelist > b {
    border: 1px solid #3690cf;
    padding: 5px 10px;
    background: #3690cf;
    color: #FFF
}

a.curPage {
    color: #19585d;
    font-weight: bold;
}

.address {
    background: /*url(../images/dw.png) no-repeat left 5px*/ #fff;
    overflow: hidden;
    margin-bottom: 8px;
    border: #ddd 1px solid;
    padding: 5px 0 5px 25px
}

.address a {
    padding: 0 8px
}

/*info*/
.infosbox {
    overflow: hidden;
    background: #FFF;
    border: #ddd 1px solid;
    padding: 16px;
}

.infotitle {
    font-size: 24px;
    margin-bottom: 10px
}

.infosbox .bloginfo span {
    color: #A8B1BA;
    margin-right: 8px;
}

.news_about {
    color: #888888;
    border: 1px solid #F3F3F3;
    padding: 10px;
    margin: 20px auto 15px auto;
    line-height: 23px;
    background: none repeat 0 0 #F6F6F6;
}

.news_about strong {
    color: #38485A;
    font-weight: 400 !important;
    font-size: 13px;
    padding-right: 8px;
}

.tags a {
    background: #074979;
    padding: 3px 8px;
    margin: 0 5px 0 0;
    color: #fff;
    transition: 1s
}

.tags a:hover {
    background: #F4650E;
    padding: 3px 8px;
    margin: 0 5px 0 0;
    color: #FFF;
    transition: 0.5s
}

.tags {
    margin: 10px 0;
}

.infosbox .news_con {
    line-height: 1.8;
    text-align: justify;
}

.infosbox .news_con p {
    margin-bottom: 15px
}

.infosbox .news_con img {
    max-width: 650px;
    height: auto;
}

.share {
    padding: 20px;
}

.diggit {
    width: 160px;
    margin: auto;
    background: #E2523A;
    color: #fff;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, .2);
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
}

.diggit a {
    color: #fff;
}

.nextinfo {
    line-height: 24px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}

.nextinfo p {
    padding: 4px 0;
}

/*otherlink*/
.otherlink {
    width: 100%;
    overflow: hidden;
}

.otherlink h2 {
    border-bottom: #000 2px solid;
    line-height: 40px;
    font-size: 14px;
    color: #000
}

.otherlink ul {
    margin: 10px 0
}

.otherlink li {
    line-height: 24px;
    height: 24px;
    display: block;
    width: 100%;
    overflow: hidden;
}

.otherlink li a:hover {
    text-decoration: none;
    color: #F4650E
}

.news_pl h2 {
    border-bottom: #000 2px solid;
    line-height: 40px;
    font-size: 14px;
    color: #000;
}

/*pinglun*/
.news_pl {
    overflow: hidden;
}

.gbko {
}

.saying {
    line-height: 30px;
    color: #a9a6a6;
}

.saying span {
    float: right
}

.saying span a {
    color: #de1513;
}

img#plKeyImg {
    display: inline-block;
}

.yname {
    margin: 10px 10px 10px 0
}

.yname span, .yzm span {
    padding-right: 10px;
}

.yzm {
    margin: 0 10px 10px 0
}

.gbko input[type="submit"] {
    display: block;
    background: #303030;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}

.gbko textarea#saytext {
    width: 99%;
}

/*time*/
.timebox {
    background: #FFF;
    padding: 30px;
    border: #ddd 1px solid
}

.timebox span {
    position: relative;
    line-height: 32px;
    padding-right: 40px;
    color: #999
}

.timebox span:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #e0dfdf;
    right: 18px
}

.timebox li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.timebox li i {
    position: relative;
    font-style: normal
}

.timebox li i:before {
    content: " ";
    height: 10px;
    width: 10px;
    border: 2px solid #cccaca;
    background: #fff;
    position: absolute;
    top: 4px;
    left: -26px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.timebox li:hover i:before {
    background: #080808
}

/*留言*/
.gbinfos {
    background: #FFF;
    padding: 30px;
    border: #ddd 1px solid
}

.gbox {
    padding: 20px;
    overflow: hidden;
}

.gbox p {
    margin-bottom: 10px
}

p.fbtime {
    color: #000;
}

.fbtime span {
    float: right;
    color: #999;
    font-size: 12px;
}

p.fbinfo {
    margin: 10px 0;
}

.fb ul {
    margin: 10px 10px;
    padding: 10px 40px 10px 70px;
    border-bottom: #ececec 1px solid;
}

/*.fb:first-child ul {*/
    /*background: url(../images/tx2.png) no-repeat top 2px left 5px;*/
/*}*/

/*.fb:last-child ul {*/
    /*background: url(../images/tx1.png) no-repeat top 2px left 5px;*/
/*}*/

.replyDiv ul {
    padding: 10px 20px;
    background: #f9f9f9;
}

.replyDiv {
    margin: 0 20px;
    padding-bottom: 20px;
    border-bottom: #dedddd 1px dashed;
}

textarea#messageContent {
    width: 100%;
}

.gbox input[type="submit"] {
    cursor: pointer;
    display: block;
    background: #303030;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: left;
}

/*列表展示*/
.piclistshow {
    background: #FFF;
    padding: 30px;
    border: #ddd 1px solid;
    overflow: hidden;
    position: relative
}

.piclistshow ul {
    overflow: hidden;
}

.piclistshow ul:before {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #fff;
    content: "";
    left: 30px;
    top: 0;
    z-index: 2
}

.piclistshow ul:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    content: "";
    left: 0;
    bottom: 30px
}

.piclistshow ul li {
    width: 25%;
    float: left;
    overflow: hidden;
    padding-top: 40px;
    position: relative;
}

.piclistshow ul li:before {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #ddd;
    content: "";
    left: 0;
    top: 0
}

.piclistshow ul li:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    content: "";
    left: 0;
    bottom: 0
}

.piclistshow ul li:hover {
    background: #fafafa
}

.piclistshow .picimg {
    width: 100%;
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    padding: 0px 10px;
}

.picimg img {
    max-height: 100%;
    margin: auto;
    max-width: 100%;
}

.pictxt {
    padding: 15px 20px 0;
    line-height: 25px;
    text-align: center;
    height: 80px;
    overflow: hidden;
}

.pictxt h3 {
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

/*

media

*/
@media screen and (min-width: 768px) and (max-width: 959px) {
    #starlist li {
        width: 90px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    aside {
        display: none
    }

    main {
        margin: 0
    }

    .infosbox .news_con img {
        width: 100%
    }

    .piclistshow ul li {
        width: 33.3%;
    }

    .gbinfos {
        padding: 10px
    }

    .bloglist li, .place, .address, .infosbox, .piclistshow, .gbinfos, .timebox {
        border: none
    }

    .bloglist li h2 span {
        display: none
    }

    .pagelist {
        text-align: center
    }

    header {
    }

    nav {
        height: auto;
        background: none;
        line-height: 36px
    }

    #mnavh {
        position: absolute;
        display: block;
        top: 8px;
        right: 10px;
    }

    #starlist {
        display: none;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9;
        margin-left: 0
    }

    #starlist li {
        display: block;
        padding: 0 0 0 0;
        width: 60%;
        background: #fff;
        border-bottom: #f5f5f5 1px solid;
        overflow: hidden;
        font-weight: bold
    }

    #starlist li a {
        color: #444
    }

    .sub {
        display: block;
        box-shadow: none;
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        background: none;
        padding-bottom: 0
    }

    #starlist li a:hover, #starlist #selected, .selected > a {
        background: #3690cf;
        display: block;
        color: #fff;
    }

    #starlist .sub li {
        width: 100%;
        border-bottom: none;
        font-weight: normal
    }

    #starlist li:last-child {
        padding-bottom: 100%
    }

    #starlist .sub li:last-child {
        padding-bottom: 0
    }

    #starlist li:hover ul {
        display: block;
        position: inherit;
    }
}

@media only screen and (max-width: 479px) {
    aside {
        display: none
    }

    main {
        margin: 0
    }

    .infosbox .news_con img {
        width: 100%
    }

    .piclistshow {
        padding: 10px
    }

    .piclistshow ul li {
        width: 50%;
    }

    .piclistshow ul:before {
        left: 10px;
    }

    .piclistshow ul:after {
        bottom: 10px;
    }

    .gbinfos {
        padding: 10px
    }

    .bloglist li, .place, .address, .infosbox, .piclistshow, .gbinfos, .timebox {
        border: none
    }

    .bloglist li h2 span {
        display: none
    }

    .pagelist {
        text-align: center
    }

    header {
    }

    nav {
        height: auto;
        background: none;
        line-height: 40px
    }

    #mnavh {
        position: absolute;
        display: block;
        top: 8px;
        right: 10px;
    }

    #starlist {
        display: none;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 9;
        margin-left: 0
    }

    #starlist li {
        display: block;
        padding: 0 0 0 0;
        width: 60%;
        background: #fff;
        border-bottom: #f5f5f5 1px solid;
        overflow: hidden;
        font-weight: bold
    }

    #starlist li a {
        color: #444
    }

    .sub {
        display: block;
        box-shadow: none;
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        background: none;
        padding-bottom: 0
    }

    #starlist li a:hover, #starlist #selected, .selected > a {
        background: #3690cf;
        display: block;
        color: #fff;
    }

    #starlist .sub li {
        width: 100%;
        border-bottom: none;
        font-weight: normal
    }

    #starlist li:last-child {
        padding-bottom: 100%
    }

    #starlist .sub li:last-child {
        padding-bottom: 0
    }

    #starlist li:hover ul {
        display: block;
        position: inherit;
    }

    .fb ul {
        padding: 10px 10px 10px 70px;
    }

    .address {
        font-size: 14px;
    }

    .address a {
        padding: 0 3px;
    }
}