<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.manage.modules.treatise.mapper.BlogTreatiseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.blog.pojo.entity.BlogTreatise">
		<id column="uuid" property="uuid" />
		<result column="category_id" property="categoryId" />
		<result column="treatise_title" property="treatiseTitle" />
		<result column="treatise_preview" property="treatisePreview" />
		<result column="source" property="source" />
		<result column="reprint_from" property="reprintFrom" />
		<result column="reprint_url" property="reprintUrl" />
		<result column="treatise_body" property="treatiseBody" />
		<result column="create_time" property="createTime" />
		<result column="read_num" property="readNum" />
		<result column="praise_num" property="praiseNum" />
		<result column="tags" property="tags" />
		<result column="recommend" property="recommend" />
	</resultMap>

	<select id="getTreatiseList" resultType="com.blog.manage.modules.treatise.vo.BlogTreatiseVo">
		SELECT bt.*,bc.category_name,
				case bt.source when 1 then '原创' when 2 then '转载' end as sourceName,
				case bt.recommend when 1 then '推荐' else '不推荐' end as recommendName,
				case bt.bd_included when 1 then '已收录' else '未收录' end as bdIncludedName
		FROM `blog_treatise` bt
		LEFT JOIN `blog_category` bc ON bc.id = bt.category_id
		<where>
			bt.del_flag = 0
			<if test="categoryId != null and categoryId != ''">
				AND (category_id = #{categoryId} OR bc.f_id = #{categoryId})
			</if>
			<if test="keyWord != null and keyWord != ''">
				AND (
				treatise_title like concat('%',#{keyWord},'%') OR
				treatise_preview like concat('%',#{keyWord},'%') OR
				treatise_body like concat('%',#{keyWord},'%')
				)
			</if>
		</where>
		order by bt.create_time desc
	</select>

    <select id="getTreatiseVoById" resultType="com.blog.manage.modules.treatise.vo.BlogTreatiseVo">
		SELECT bt.*,bc.category_name,
				case bt.source when 1 then '原创' when 2 then '转载' end as sourceName,
				case bt.recommend when 1 then '推荐' else '不推荐' end as recommendName
		FROM `blog_treatise` bt
		LEFT JOIN `blog_category` bc ON bc.id = bt.category_id
		where bt.uuid = #{uuid}
	</select>

</mapper>